<h1 class="bg-warning text-center">Student list</h1>
<table class="table table-bordered">
  <thead>
    <tr class="table-dark bg-warning">
      <th>id</th>
      <th>name</th>
      <th>email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of studentData">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.email}}</td>
      <td><button class="btn btn-secondary mx-3" (click)="deleteData(item.id)">Delete</button>
        <span><button class="btn btn-secondary"><a class="hi" routerLink="/edit/{{item.id}}">update</a></button></span> </td>
    </tr>
  </tbody>
</table>
