
<nav class="navbar navbar-expand-md navbar-dark bg-secondary text-white mr-auto">
  <div class="container">
    <a class="navbar-brand text-dark" href="#">Student</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#travel-navbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="travel-navbar">
   <ul class="navbar-nav ml-auto ">
    <li class="nav-item px-3">
      <a   class="nav-link"  routerLink="add">Add</a>
    </li>
    <li class="nav-item px-3">
      <a  class="nav-link" routerLink="edit">Edit</a>
    </li>
    <li class="nav-item px-3">
      <a  class="nav-link" routerLink="list">List</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" routerLink="login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="register">Register</a>
    </li>

   </ul>
  </div>

  </div>

</nav>
<router-outlet></router-outlet>
